
<ion-content >
  <ion-grid style="margin-top: 30%">
    <form [formGroup]="form">
      <ion-row class="topMargin">
        <ion-col size="10" offset="1">
          <ion-item>
            <ion-label class="smallText" align="left" position="floating">
              Message
            </ion-label>
            <ion-textarea rows="2" maxlength="200" type="text" formControlName="message"></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row class="topMargin">
        <ion-col offset="3" size="6">
          <ion-button color="danger" fill="solid" expand="block" (click)=" OnMakeInterest()" [disabled]="!form.valid">
            <ion-label style="padding-right: 5px"></ion-label> <ion-icon name="heart"></ion-icon></ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>

</ion-content>