<ion-content>
  <ion-item>
    <ion-grid>
      <ion-row style="margin-top: 10px">
        <ion-col size="4" offset="4">
             <ion-avatar>
              <ion-img
                      src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"></ion-img>
            </ion-avatar>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="10" offset="1">
          <ion-item>
          <ion-text>{{user.name}} </ion-text>
          <ion-text class="bold" style="font-size: small;font-style: oblique">&nbsp;de {{user.city}}</ion-text>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row align="center">
      </ion-row>
      <ion-row>

        <ion-col><ion-icon name="mail" color="secondary" size="large"></ion-icon> <ion-text class="leftMargin">{{user.mail}}</ion-text></ion-col>
      </ion-row>
      <ion-row>
        <ion-col><ion-icon name="logo-whatsapp" color="success" size="large"></ion-icon> <ion-text class="leftMargin">{{user.phone}}</ion-text></ion-col>
      </ion-row>
      <ion-row>
        <ion-col align="center"> <ion-text style="font-size: small" >{{user.description}}</ion-text></ion-col>
      </ion-row>
    </ion-grid>

  </ion-item>
<ion-item lines="none">
  <ion-badge *ngFor="let profile of user.profiles">{{profile.label}}</ion-badge>
</ion-item>
  <ion-item>
    <ion-grid>
      <ion-item-divider><ion-text style="font-size: small" color="success">Interets</ion-text></ion-item-divider>
      <ion-row *ngFor="let interest of interests" style="border-bottom: #8c8c8c solid medium">

        <ion-col size="5" *ngIf="interest.direction == 'ProjectToUser'">
          <div >
            <ion-text color="primary">{{interest.project.title}}</ion-text><br>
            <ion-text class="smallText">{{interest.creationDate | date:'dd/MM/yyyy à hh:mm'}}</ion-text>
          </div>
        </ion-col>

        <ion-col size="7" *ngIf="interest.direction == 'ProjectToUser'">
          <div class="leftMargin" style="font-size: small">{{interest.message}}</div>
        </ion-col>



        <ion-col size="5" *ngIf="interest.direction == 'UserToProject'">
          <div class="leftMargin" style="font-size: small">{{interest.message}}</div>

        </ion-col>
        <ion-col size="7" *ngIf="interest.direction == 'UserToProject'">
          <div  >
            <ion-text color="primary">{{interest.user.name}}</ion-text><br>
            <ion-text class="smallText">{{interest.creationDate | date:'dd/MM/yyyy à hh:mm'}}</ion-text>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
</ion-content>
